<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- Loop for content-->
        <div *ngFor="let item of products" class="col-md-3">
          <div class="product-box">

            <img src="{{ item.imageUrl }}" class="img-responsive">
            <h1>{{ item.name }}</h1>
            <div class="price">{{ item.unitPrice | currency: 'BRL' }}</div>
            <a href="#" class="primary-btn">Add to Cart</a>
          </div>

   
        </div>

       <!-- if  products empty the display a message-->
       <div *ngIf="products?.length == 0" class="alert alert-danger col-md-12" role="alert">
        No products found in the search!
      </div>

      </div>
    </div>
  </div>
</div>