<table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="align-middle">Image</th> 
        <th scope="col" class="align-middle">SKU</th>
        <th scope="col" class="align-middle">Name</th>
        <th scope="col" class="align-middle">Description</th>
        <th scope="col" class="align-middle">Unit Price</th>
        <th scope="col" class="align-middle">Active</th>
        <th scope="col" class="align-middle">Units In Stock</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products">
            <td class="align-middle">
                <img src="{{item.imageUrl }}" width="50%" height="50%" />
            </td>
            
            <td class="align-middle">{{ item.sku}}</td>
            <td class="align-middle">{{ item.name}}</td>
            <td class="align-middle">{{ item.description}}</td>
            <td class="align-middle">{{ item.unitPrice | currency: 'BRL'}} </td>
            <td class="align-middle"> <div *ngIf="item.active == true; else desativado">
                    <input type="checkbox" checked></div>
                    <ng-template #desativado><input type="checkbox"></ng-template>
            
            </td>
            <td class="align-middle">{{ item.unitsInStock}}</td>
      </tr>
    </tbody>
  </table>
